doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='description' content='')
        title= title
        link(href='css/app.css' rel='stylesheet')
    body
        h1= message
        h2= error.status
        pre #{error.stack}
