extends app

block content
    main.container
        include posts/featured
        .row.g-5
            include posts/index
            .col-md-4
                .position-sticky(style='top: 2rem;')
                    include sidebar/about
                    include sidebar/archives
                    include sidebar/profile-links