.p-4.mb-3.bg-light.rounded
    h4.fst-italic About
    p.mt-1
        | Perpetual Meninwa
    p.mb-0
        | She is a Software Developer, aspiring Cloud Engineer and Mum lover 🥰. She loves to cook, read and solve software problems. She is currently looking for opportunities to join a team of software developers. You can reach her through the links below or via email perpetualmeninwa@gmail.com.