.p-4.mb-3.bg-light.rounded
    h4.fst-italic About
    p.mb-0
        | About me,I am we short woman with a tall personality who loves to code cause i watched too much arrow and the flash little did I know movies can lie.I am Muema and like to game from time to time love nature and drawing and painting and would love to have a pet  raccon 