.p-4
    h4.fst-italic Archives
    ol.list-unstyled.mb-0
        each item in archives
            li
                a(href='#') #{ new Intl.DateTimeFormat("en-US", {month: "long"}).format(item) } #{ item.getFullYear() }