.p-4
    h4.fst-italic Social Links
    ol.list-unstyled
        li.mb-1
            a(href='https://github.com/DoreenMuema?tab=repositories') GitHub
        li.mb-1
            a(href='https://www.linkedin.com/in/doreen-muema-4562a2298/') Linkedin