.p-4
    h4.fst-italic Social Links
    ol.list-unstyled
        li.mb-1
            a(href='https://github.com/Perpy-del' target="_blank") GitHub
        li.mb-1
            a(href='https://x.com/pominpirational'  target="_blank") Twitter
        li.mb-1
            a(href='https://www.linkedin.com/in/perpydev/'  target="_blank") LinkedIn