.col-md-8
    h3.pb-4.mb-4.fst-italic.border-bottom
        | From the Firehose
    include post-card
    nav.blog-pagination(aria-label='Pagination')
        a.btn.btn-outline-primary.rounded-pill(href='#') Older
        a.btn.btn-outline-secondary.rounded-pill.disabled Newer