each post in posts
    article.blog-post
        h2.blog-post-title.mb-1 #{post.title}
        p.blog-post-meta
            | #{ post.created_at } by
            a(href='#') #{ post.author }
        p
            | #{ post.body }