article.blog-post
    h2.blog-post-title.mb-1 Sample blog post
    p.blog-post-meta
        | January 1, 2021 by
        a(href='#') Mark
    p
        | This blog post shows a few different types of content that&rsquo;s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.
    hr
    p
        | This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We&apos;ll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.
    h2 Blockquotes
    p This is an example blockquote in action:
    blockquote.blockquote
        p Quoted text goes here.
    p
        | This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We&apos;ll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.
    h3 Example lists
    p
        | This is some additional paragraph placeholder content. It&apos;s a slightly shorter version of the other highly repetitive body text used throughout. This is an example unordered list:
    ul
        li First list item
        li Second list item with a longer description
        li Third list item to close it out
    p And this is an ordered list:
    ol
        li First list item
        li Second list item with a longer description
        li Third list item to close it out
    p And this is a definition list:
    dl
        dt HyperText Markup Language (HTML)
        dd The language used to describe and define the content of a Web page
        dt Cascading Style Sheets (CSS)
        dd Used to describe the appearance of Web content
        dt JavaScript (JS)
        dd The programming language used to build advanced Web sites and applications
    h2 Inline HTML elements
    p
        | HTML defines a long list of available inline tags, a complete list of which can be found on the
        a(href='https://developer.mozilla.org/en-US/docs/Web/HTML/Element') Mozilla Developer Network
        | .
    ul
        li
            strong To bold text
            | , use
            code.language-plaintext.highlighter-rouge &lt;strong&gt;
            | .
        li
            em To italicize text
            | , use
            code.language-plaintext.highlighter-rouge &lt;em&gt;
            | .
        li
            | Abbreviations, like
            abbr(title='HyperText Markup Language') HTML
            |  should use
            code.language-plaintext.highlighter-rouge &lt;abbr&gt;
            | , with an optional
            code.language-plaintext.highlighter-rouge title
            |  attribute for the full phrase.
        li
            | Citations, like
            cite &mdash; Mark Otto
            | , should use
            code.language-plaintext.highlighter-rouge &lt;cite&gt;
            | .
        li
            del Deleted
            |  text should use
            code.language-plaintext.highlighter-rouge &lt;del&gt;
            |  and
            ins inserted
            |  text should use
            code.language-plaintext.highlighter-rouge &lt;ins&gt;
            | .
        li
            | Superscript
            sup text
            |  uses
            code.language-plaintext.highlighter-rouge &lt;sup&gt;
            |  and subscript
            sub text
            |  uses
            code.language-plaintext.highlighter-rouge &lt;sub&gt;
            | .
    p
        | Most of these elements are styled by browsers with few modifications on our part.
    h2 Heading
    p
        | This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We&apos;ll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.
    h3 Sub-heading
    p
        | This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We&apos;ll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.
    pre.

    p
        | This is some additional paragraph placeholder content. It&apos;s a slightly shorter version of the other highly repetitive body text used throughout.